In [5]:
from sklearn.model_selection import train_test_split
import pandas as pd
from sklearn.feature_extraction import DictVectorizer

In [6]:
# 获取数据
titan = pd.read_csv("../MachineData/data/titanic.txt")
print('*'*100)
print(type(titan))#dataframe
print('*'*100)
print(titan.columns)#查看列名,有11个
print('*'*100)
print(titan.head(5))#查看前5个样本
print('*'*100)
print(titan.info())#查看数据的整体信息
#特征处理，只选取11个特征值里面的三个特征值
# 处理数据，找出特征值和目标值
x = titan[['pclass', 'age', 'sex']]
x['age'].fillna(x['age'].mean(), inplace=True)
y = titan['survived']
print(x.info())  # 用来判断是否有空值
print('*'*100)
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=4)
# 进行处理（特征工程）特征-》类别-》one_hot编码
dict = DictVectorizer(sparse=False)

# 这一步是对字典进行特征抽取
x_train = dict.fit_transform(x_train.to_dict(orient="records"))
x_test = dict.transform(x_test.to_dict(orient="records"))

****************************************************************************************************
<class 'pandas.core.frame.DataFrame'>
****************************************************************************************************
Index(['row.names', 'pclass', 'survived', 'name', 'age', 'embarked',
       'home.dest', 'room', 'ticket', 'boat', 'sex'],
      dtype='object')
****************************************************************************************************
   row.names pclass  survived  \
0          1    1st         1
1          2    1st         0
2          3    1st         0
3          4    1st         0
4          5    1st         1

                                              name      age     embarked  \
0                     Allen, Miss Elisabeth Walton  29.0000  Southampton
1                      Allison, Miss Helen Loraine   2.0000  Southampton
2              Allison, Mr Hudson Joshua Creighton  30.0000  Southampton
3  Allison, Mrs Hudson J.C. (Bessie Waldo Daniels)  25.0000  Southampton
4                    Allison, Master Hudson Trevor   0.9167  Southampton

                         home.dest room      ticket   boat     sex
0                     St Louis, MO  B-5  24160 L221      2  female
1  Montreal, PQ / Chesterville, ON  C26         NaN    NaN  female
2  Montreal, PQ / Chesterville, ON  C26         NaN  (135)    male
3  Montreal, PQ / Chesterville, ON  C26         NaN    NaN  female
4  Montreal, PQ / Chesterville, ON  C22         NaN     11    male
****************************************************************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1313 entries, 0 to 1312
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   row.names  1313 non-null   int64
 1   pclass     1313 non-null   object
 2   survived   1313 non-null   int64
 3   name       1313 non-null   object
 4   age        633 non-null    float64
 5   embarked   821 non-null    object
 6   home.dest  754 non-null    object
 7   room       77 non-null     object
 8   ticket     69 non-null     object
 9   boat       347 non-null    object
 10  sex        1313 non-null   object
dtypes: float64(1), int64(2), object(8)
memory usage: 113.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1313 entries, 0 to 1312
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   pclass  1313 non-null   object
 1   age     1313 non-null   float64
 2   sex     1313 non-null   object
dtypes: float64(1), object(2)
memory usage: 30.9+ KB
None
****************************************************************************************************

C:\Users\DELL\AppData\Local\Temp\ipykernel_13208\2122584323.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['age'].fillna(x['age'].mean(), inplace=True)

****************************************************************************************************
<class 'pandas.core.frame.DataFrame'>
****************************************************************************************************
Index(['row.names', 'pclass', 'survived', 'name', 'age', 'embarked',
       'home.dest', 'room', 'ticket', 'boat', 'sex'],
      dtype='object')
****************************************************************************************************
   row.names pclass  survived  \
0          1    1st         1
1          2    1st         0
2          3    1st         0
3          4    1st         0
4          5    1st         1

                                              name      age     embarked  \
0                     Allen, Miss Elisabeth Walton  29.0000  Southampton
1                      Allison, Miss Helen Loraine   2.0000  Southampton
2              Allison, Mr Hudson Joshua Creighton  30.0000  Southampton
3  Allison, Mrs Hudson J.C. (Bessie Waldo Daniels)  25.0000  Southampton
4                    Allison, Master Hudson Trevor   0.9167  Southampton

                         home.dest room      ticket   boat     sex
0                     St Louis, MO  B-5  24160 L221      2  female
1  Montreal, PQ / Chesterville, ON  C26         NaN    NaN  female
2  Montreal, PQ / Chesterville, ON  C26         NaN  (135)    male
3  Montreal, PQ / Chesterville, ON  C26         NaN    NaN  female
4  Montreal, PQ / Chesterville, ON  C22         NaN     11    male
****************************************************************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1313 entries, 0 to 1312
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   row.names  1313 non-null   int64
 1   pclass     1313 non-null   object
 2   survived   1313 non-null   int64
 3   name       1313 non-null   object
 4   age        633 non-null    float64
 5   embarked   821 non-null    object
 6   home.dest  754 non-null    object
 7   room       77 non-null     object
 8   ticket     69 non-null     object
 9   boat       347 non-null    object
 10  sex        1313 non-null   object
dtypes: float64(1), int64(2), object(8)
memory usage: 113.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1313 entries, 0 to 1312
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   pclass  1313 non-null   object
 1   age     1313 non-null   float64
 2   sex     1313 non-null   object
dtypes: float64(1), object(2)
memory usage: 30.9+ KB
None
****************************************************************************************************

C:\Users\DELL\AppData\Local\Temp\ipykernel_13208\2122584323.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['age'].fillna(x['age'].mean(), inplace=True)

In [4]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier
# 随机森林进行预测 （超参数调优），n_jobs充分利用多核的一个参数
rf = RandomForestClassifier(n_jobs=-1)
# 120, 200, 300, 500, 800, 1200,n_estimators森林中决策树的数目，也就是分类器的数目
# max_samples  是最大样本数
#bagging类型
param = {"n_estimators": [1500,2000, 5000], "max_depth": [2, 3, 5, 8, 15, 25]}

# 网格搜索与交叉验证
gc = GridSearchCV(rf, param_grid=param, cv=3)

gc.fit(x_train, y_train)

print("准确率：", gc.score(x_test, y_test))

print("查看选择的参数模型：", gc.best_params_)

print("选择最好的模型是：", gc.best_estimator_)

print("每个超参数每次交叉验证的结果：", gc.cv_results_)

准确率： 0.8328267477203647
查看选择的参数模型： {'max_depth': 3, 'n_estimators': 1500}
选择最好的模型是： RandomForestClassifier(max_depth=3, n_estimators=1500, n_jobs=-1)
每个超参数每次交叉验证的结果： {'mean_fit_time': array([1.12914928, 0.72042871, 1.75740774, 0.64042187, 0.67691978,
       1.5508523 , 0.53345346, 0.6825978 , 1.52666561, 0.54132525,
       0.6849486 , 1.57829094, 0.53068662, 0.69817026, 1.55404536,
       0.54181878, 0.68209132, 1.55872043]), 'std_fit_time': array([0.76051684, 0.02552798, 0.11894469, 0.02583948, 0.02131866,
       0.04797193, 0.02403126, 0.02008826, 0.02190556, 0.01062169,
       0.01830918, 0.02884458, 0.01195063, 0.00801877, 0.00712772,
       0.02982633, 0.01159368, 0.03108383]), 'mean_score_time': array([0.16606045, 0.21272278, 0.54106824, 0.15935111, 0.20774428,
       0.48659873, 0.14127644, 0.18980106, 0.46202914, 0.14285795,
       0.18723528, 0.46446896, 0.14481934, 0.18622835, 0.46203748,
       0.14689414, 0.18874153, 0.46757174]), 'std_score_time': array([0.01406263, 0.00607509, 0.02403143, 0.00559366, 0.00492704,
       0.01741918, 0.00513687, 0.00355403, 0.00667778, 0.00168354,
       0.00414863, 0.00881513, 0.00416473, 0.00285576, 0.00512778,
       0.00499981, 0.00292446, 0.01241976]), 'param_max_depth': masked_array(data=[2, 2, 2, 3, 3, 3, 5, 5, 5, 8, 8, 8, 15, 15, 15, 25, 25,
                   25],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False],
       fill_value='?',
            dtype=object), 'param_n_estimators': masked_array(data=[1500, 2000, 5000, 1500, 2000, 5000, 1500, 2000, 5000,
                   1500, 2000, 5000, 1500, 2000, 5000, 1500, 2000, 5000],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False],
       fill_value='?',
            dtype=object), 'params': [{'max_depth': 2, 'n_estimators': 1500}, {'max_depth': 2, 'n_estimators': 2000}, {'max_depth': 2, 'n_estimators': 5000}, {'max_depth': 3, 'n_estimators': 1500}, {'max_depth': 3, 'n_estimators': 2000}, {'max_depth': 3, 'n_estimators': 5000}, {'max_depth': 5, 'n_estimators': 1500}, {'max_depth': 5, 'n_estimators': 2000}, {'max_depth': 5, 'n_estimators': 5000}, {'max_depth': 8, 'n_estimators': 1500}, {'max_depth': 8, 'n_estimators': 2000}, {'max_depth': 8, 'n_estimators': 5000}, {'max_depth': 15, 'n_estimators': 1500}, {'max_depth': 15, 'n_estimators': 2000}, {'max_depth': 15, 'n_estimators': 5000}, {'max_depth': 25, 'n_estimators': 1500}, {'max_depth': 25, 'n_estimators': 2000}, {'max_depth': 25, 'n_estimators': 5000}], 'split0_test_score': array([0.73780488, 0.73780488, 0.73780488, 0.80182927, 0.80182927,
       0.80182927, 0.81097561, 0.81097561, 0.81097561, 0.82012195,
       0.82012195, 0.82012195, 0.81402439, 0.82012195, 0.82012195,
       0.82012195, 0.82012195, 0.82012195]), 'split1_test_score': array([0.82621951, 0.82621951, 0.82621951, 0.82317073, 0.82317073,
       0.82317073, 0.81402439, 0.81402439, 0.81402439, 0.80792683,
       0.80792683, 0.80792683, 0.80792683, 0.81402439, 0.81707317,
       0.81707317, 0.81097561, 0.81402439]), 'split2_test_score': array([0.81707317, 0.81707317, 0.81707317, 0.82926829, 0.82926829,
       0.82926829, 0.82317073, 0.82621951, 0.82317073, 0.79268293,
       0.79268293, 0.79268293, 0.79573171, 0.79573171, 0.79573171,
       0.79573171, 0.79573171, 0.79573171]), 'mean_test_score': array([0.79369919, 0.79369919, 0.79369919, 0.81808943, 0.81808943,
       0.81808943, 0.81605691, 0.81707317, 0.81605691, 0.80691057,
       0.80691057, 0.80691057, 0.80589431, 0.80995935, 0.81097561,
       0.81097561, 0.80894309, 0.80995935]), 'std_test_score': array([0.03969924, 0.03969924, 0.03969924, 0.01176406, 0.01176406,
       0.01176406, 0.00518193, 0.00658612, 0.00518193, 0.01122496,
       0.01122496, 0.01122496, 0.00760499, 0.01036386, 0.01085069,
       0.01085069, 0.01006046, 0.01036386]), 'rank_test_score': array([16, 16, 16,  1,  1,  1,  5,  4,  5, 12, 12, 12, 15,  9,  7,  7, 11,
        9])}